.image-1 {
	background-image: url("https://img.freepik.com/free-photo/young-happy-manual-worker-carrying-cardboard-boxes-delivery-van-while-communicating-with-his-colleagues_637285-1260.jpg?t=st=1665657306~exp=1665657906~hmac=384723bde9a675c1ecbadec0bb1f56fa7486ed365da51fe06ba9243947816767");
}

.image-2 {
	background-image: url("https://img.freepik.com/premium-vector/fast-delivery-truck-with-motion-lines-online-delivery-express-delivery-quick-move-fast-shipping-truck-apps-websites-cargo-van-moving-fast-chronometer-fast-distribution-service-24-7_435184-218.jpg?w=1060");
}

.image-3 {
	background-image: url("https://img.freepik.com/free-photo/happy-professional-middle-aged-truck-driver-casual-clothes-driving-truck-highway_342744-1279.jpg?w=900&t=st=1665662405~exp=1665663005~hmac=247df7258759fe38db3665377db97829bbafda20af61550a9a1d6d8cfb9added");
}

.image-4 {
	background-image: url("https://img.freepik.com/free-photo/delivery-concept-portrait-happy-african-american-delivery-man-red-cloth-holding-box-package-isolated-grey-studio-background-copy-space_1258-1212.jpg?w=900&t=st=1665662528~exp=1665663128~hmac=facc60e2973b0cec2f26c01e630844e38574b1e655c27f4bfb66de813406cfc7");
}